@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
body {
  background-color: #8f8c8c4d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#heading {
  font-family: "Playball", "cursive" !important;
  color: white;
}

// animation for home page tag line
.lineUp {
  animation: 1.5s anim-lineUp ease-in;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(140px, 0) rotate(-10deg);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(140px, 0%) rotate(-10deg);
  }
  100% {
    opacity: 1;
    transform: translateY(140px, 0%) rotate(-10deg);
  }
}
// animation for home page tag line

.cursor {
  cursor: pointer;
}

footer {
  width: 100%;
  font-size: 16px;
  h6 {
    cursor: pointer;
  }
  ul {
    padding-left: 0rem;
    li {
      list-style: none;
      text-align: center;
      cursor: pointer;
    }
  }
}

.overlay-dark {
  background-color: rgba(0, 0, 0, 0.481);
}

.text-shadow {
  text-shadow: 2px 2px #000000;
}

.carousel-indicators li {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin: 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #0000ff;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.carousel-indicators .active {
  width: 48px;
  height: 48px;
  margin: 10px;
  background-color: #ffff99;
}

.btn-primary.cart {
  color: #fff;
  background-color: #4e2435;
  border-color: #682640;
}

.btn-primary.cart:hover {
  border: 0;
  background-color: #4e2435;
  border-color: #682640;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 1px, 0);
}

.btn-primary.cart:focus {
  background-color: #4e2435;
  border-color: #682640;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}
.btn-primary.cart:active:focus {
  box-shadow: 0 0 0 0.2rem #68264065;
}

#product {
  .row {
    gap: 15px 0;
    margin: 15px;
  }
}

.card-body {
  height: 170px;
}

.card-img,
.card-img-bottom,
.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
